/* @import "~antd/dist/antd.css"; */

.sidebar-container {
    position: absolute;
    top: 10%;
    left: 75%;
    width: 20vw;
}

.auth-container {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 40vw;
    background-color: white;
    padding: 20px;
    border-style: solid;
}

/* Located in sidebar presenter files */
.sidebar-titles {
    height: 5vh;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}

@media screen and (min-width: 1100px) {
    .sidebar-container {
        position: absolute;
        top: 10%;
        left: 75%;
        width: 260px;
    }
    .auth-container {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 260px;
        background-color: white;
        padding: 20px;
        border-style: solid;
    }
}
