
.map-blur {
    filter: blur(6px);
}

/* Authentication styles */
.auth-container {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 16vw;
    height: 40vh;
    background-color: white;
    padding: 20px;
    /* border-style: solid; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.sign-up-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.login-form {
    color: rgb(88, 88, 88);
}

.sign-up-form {
    color: rgb(88, 88, 88);
}

.login-heading {
    padding-bottom: 15px;
    font-size: 18px;
}

.sign-up-heading {
    padding-bottom: 15px;
    font-size: 18px;
}

/* .login-email .login-password {
    display: flex;
    flex-direction: column;
} */

.login-password {
    padding-top: 20px;
}

.login-title {
    padding-bottom: 4px;
    font-size: 15px;
}

.login-input {
    width: 12vw;
    height: 22px;
}

/* .sign-up-username{
    padding-top: 20px;
} */

.sign-up-email {
    padding-top: 8px;
}

.sign-up-password {
    padding-top: 8px;
}

.sign-up-input {
    width: 12vw;
    height: 22px;
}

.login-button{
    width: 12.5vw;
    height: 32px;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(219, 253, 199);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sign-up-button {
    width: 12.5vw;
    height: 32px;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(219, 253, 199);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.divide-solid {
    border-top: 1.5px solid #bbb;
}

.auth-button {
    background-color: white;
    border-width: 0px;
    font-size: 16px;
    padding-top: 10px;
    /* padding: 0px; */
}

.logo {
    font-size: 20px;
    color: hotpink;
    position: absolute;
    top: 1%;
    left: 1%;
    font-weight: bolder;
    display: flex;
   
}

.logo-icon {
    padding-left: 5px;
}

.CangeMapLook{
    position: absolute;
    top: 3.7%;
    left: 1%;
    width: 90px;
}

.map-button {
    width: 110px;
    height: 22px;
    border: none;
    font-size: 10px;
    display: inline-block;
    border-radius: 6px;
    transition-duration: 0.4s;
    opacity: 50%; 
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.map-button:hover {
    border-style: solid;
    border: none;
    background-color: lightpink;
    opacity: 100%;
}

#CangeMapLook{
    background-color: lightgray;
}

#CangeMapLook:hover {
    
}
/* Located in sidebar presenter files */

/* 
@media screen and (min-width: 1100px) {
    .sidebar-container {
        position: absolute;
        top: 10%;
        left: 75%;
        width: 260px;
    }
    .auth-container {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 260px;
        background-color: white;
        padding: 20px;
    }
} */

/* .test-hover{
     display: hide;
} */

.test-hover {
    background-color: greenyellow;
}

/* .test-hover:hover {
    display: block;
} */


.first-signin-view {
    position: absolute;
    top: 40%;
    left: 40%;
    /* bottom: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.site-title {
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px;
}

.first-signin-text {
    font-size: 16px;
    padding: 10px;
}