/* @import "~antd/dist/antd.css"; */

.sidebar-container {
    position: absolute;
    top: 10%;
    left: 75%;
    width: 20vw;
}

/* Authentication styles */
.auth-container {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 16vw;
    height: 36vh;
    background-color: white;
    padding: 20px;
    /* border-style: solid; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.sign-up-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.login-form {
    color: rgb(88, 88, 88);
}

.sign-up-form {
    color: rgb(88, 88, 88);
}

.login-heading {
    padding-bottom: 15px;
    font-size: 18px;
}

.sign-up-heading {
    padding-bottom: 15px;
    font-size: 18px;
}

/* .login-email .login-password {
    display: flex;
    flex-direction: column;
} */

.login-password {
    padding-top: 20px;
}

.login-title {
    padding-bottom: 4px;
    font-size: 15px;
}

.login-input {
    width: 12vw;
    height: 22px;
}

/* .sign-up-username{
    padding-top: 20px;
} */

.sign-up-email {
    padding-top: 8px;
}

.sign-up-password {
    padding-top: 8px;
}

.sign-up-input {
    width: 12vw;
    height: 22px;
}

.login-button{
    width: 12.5vw;
    height: 32px;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(219, 253, 199);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sign-up-button {
    width: 12.5vw;
    height: 32px;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(219, 253, 199);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.divide-solid {
    border-top: 1.5px solid #bbb;
}

.auth-button {
    background-color: white;
    border-width: 0px;
    font-size: 16px;
    padding-top: 10px;
    /* padding: 0px; */
}

/* Located in sidebar presenter files */
.sidebar-titles {
    height: 5vh;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}
/* 
@media screen and (min-width: 1100px) {
    .sidebar-container {
        position: absolute;
        top: 10%;
        left: 75%;
        width: 260px;
    }
    .auth-container {
        position: absolute;
        top: 35%;
        left: 50%;
        width: 260px;
        background-color: white;
        padding: 20px;
    }
} */
