.my-trips-view-box {
    border-radius: 2px;
    /* border-style: inset; */
    display: flex;
    flex-direction: row;
    width: 200px;
    border-bottom: inset;
    margin-bottom: 10px;
    margin-top: 10px;
}