.my-trips-view {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.my-trips-item-list {
    padding-left: 0px;
}

.my-trips-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.my-trips-item-check {
    width: 15px;
    height: 15px;
}

.my-trips-item-name {
    font-size: 15px;
    padding: 5px;
}

.edit-button {
    background-color: white;
    border-width: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    
}

.edit-icon {
    margin-right: 5px;
}

