
.user-container {
    position: absolute;
    top: 1%;
    left: 75%;
    width: 20vw;
}

.profile-view {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: right;
    padding-top: 14px;
    padding-bottom: 14px;
}

.user-button {
    width: 65px;
    height: 22px;
    border: none;
    font-size: 10px;
    display: inline-block;
    border-radius: 6px;
    transition-duration: 0.4s;
    opacity: 50%; 
    margin-left: 43px; 
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.user-button:hover {
    border-style: solid;
    border: none;
}

#user {
    background-color: lightgray;
}

#user:hover {
    background-color: lightpink;
    opacity: 100%;
}

.user-view {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 14px;
    padding-bottom: 14px;
}

#screen{
    background-color: rgb(255, 214, 167);
}

.user {
    font-size: 14px;
    font-weight: bold;
    color: rgb(85, 55, 46);
    letter-spacing: 1px;
    font-variant: small-caps;
}

.first-signin-view {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 20%;
    left: 29%;
    width: 45vw;
    height: 40vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.site-title {
    font-size: 25px;
    color: hotpink;
    font-weight: bold;
}

.first-signin-text{
    padding-top: 15px;
    font-size: 15px;
    color: rgb(90, 89, 89);
}

.continue-button {
    width: 9vw;
    height: 5vh;
    border: none;
    font-size: 12px;
    display: inline-block;
    border-radius: 6px;
    transition-duration: 0.4s;
    opacity: 100%; 
    margin-top: 10px;
    cursor: pointer;
    color: rgb(90, 89, 89);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
    
}

.continue-button:hover {
    border-style: solid;
    border: none;
    background-color: rgb(219, 253, 199);
    opacity: 100%; 
}
