.statistics-view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statistics-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-style: solid;
    border-width: 0.05px;
    text-align: center;
    margin: 15px;
}

.statistics-container > div {
    margin: 15px;
}